.social-body {
    position:absolute;
    width: 1280px;
    min-height: 3885px;
    
}
/*left-menu */

.social-left-menu {
    position:fixed;
    width: 240px;
    height: 100%;
    border-radius: 12px;
    
}
.social-main-menu {
    position:absolute;
    left: 262px;
    width: 700px;
    height: 100%;
    border-radius: 12px;
    
}
.social-right-menu {
    position:relative;
    left: 980px;
    width: 296px;
    height: 2000px;
    border-radius: 12px;
    border: 1px solid skyblue;
}

.social-left-menu .menu-box {
    position: absolute;
    width: 100%;
    height: 677px;
    left: 0px;
    top: 0px;
    background: linear-gradient(40.34deg, #000D88 -24.29%, #000E8E 18.78%, #000960 59.93%, #000000 104.82%);
    border-radius: 12px;
}
.social-left-menu .menu-box .name-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 38px;
    padding-left: 24px;
    gap: 16px;
    position: absolute;
    
}
.dropdown-subsystem-list {
    display:block;
    position: absolute;
    background-color: none;
    width: 180px;
    height: 372px;
    top: 70px;
    left: 42px;
    align-items: left;
    align-content: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    color:#F6F6F6;
  }
.dropdown-subsystem-list .subsystem-frame {
    width: 160px;
    height: 36px;
    padding-top: 48px;
    background: none;
    border-radius: 4px;
}
.dropdown-subsystem-list a {
    color:#FFFFFF
}
.dropdown-subsystem-list a:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 160px;
    height: 36px;
    background: #FFFFFF;
    border-radius: 4px;
        color:#1A64F0;
}
.social-left-menu .menu-box .sub-systerm-list {
    width: 200px;
    height: 100%;
    font-size: 14px;
    justify-content: center;
    list-style-type: none;
    color: white; 
    text-align: center; 
	}

.social-left-menu .menu-box .sub-systerm-list .icon {
	width:30px;
	float:left;
	height:30px;
	margin-right:10px;
	}
/* demo
.altrade-left-menu .menu-box .sub-systerm-list .newsfeed { background:url(../images/icon-newsfeed.svg) no-repeat center center;}
.altrade-left-menu .menu-box .sub-systerm-list .myprofile { background:url(../images/icon-profile.svg); no-repeat center center;}
.altrade-left-menu .menu-box .sub-systerm-list .groups { background:url(../images/icon-groups.svg); no-repeat center center;}
.altrade-left-menu .menu-box .sub-systerm-list .marketplace { background:url(../images/icon-newsfeed.svg) no-repeat center center;}
.altrade-left-menu .menu-box .sub-systerm-list .formula { background:url(../images/icon-newsfeed.svg) no-repeat center center;}
.altrade-left-menu .menu-box .sub-systerm-list .dashboard { background:url(../images/icon-newsfeed.svg) no-repeat center center;}
.altrade-left-menu .menu-box .sub-systerm-list .leaderboard { background:url(../images/icon-newsfeed.svg) no-repeat center center;}		
.altrade-left-menu .menu-box .sub-systerm-list .item-menu:hover {background: #2C2C2C; color: #FFFFFF;}	
.altrade-left-menu .menu-box .sub-systerm-list.active { font-weight:bold;}
*/
/*main-menu*/



.social-body .social-main-menu .content-post {
    position: absolute;
    width: 700px;
    height: 164px;
    left: 0px;
    top: 0px;
    border: 1px solid #E7E7E7;
    border-radius: 12px;
}

.social-body .social-main-menu .content-post .social-post-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    position: absolute;
    width: 644px;
    height: 48px;
    left: 24px;
    top: calc(50% - 48px/2 - 34px);

}
.social-main-menu .content-post .social-post-content .avatar {
    width: 48px;
    height: 48px;
    background: url(../images/avatar.png);
    border-radius: 24px;
}
.social-main-menu .content-post .social-post-content .text-box {
    width: 580px;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #999595;
}
.social-main-menu .content-post .tools-box {
    position: absolute;
    height: 48px;
    left: 24px;
    right: 24px;
    bottom: 24px;
   
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button:-moz-focus-inner,
input:-moz-focus-inner {
  padding: 0;
  border: 0;
}


button:focus,
input:focus,
select:focus,
textarea:focus {
 outline: 0;
}
}
button:-moz-focus-inner,
input:-moz-focus-inner {
  padding: 0;
  border: 0;
}
.social-main-menu .content-post .tools-box .btn-photos {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 0px;
    top: 5px;
    border-radius: 12px;
    border: none;
    padding: center;
}
.social-main-menu .content-post .tools-box .btn-camera {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 53px;
    top: 5px;
    border-radius: 12px;
    border: none;
    padding: center;
}
.social-main-menu .content-post .tools-box .btn-upload-file {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 106px;
    top: 5px;
    border-radius: 12px;
    border: none;
    padding: center;

}
.social-main-menu .content-post .tools-box .btn-social-post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 24px;
    gap: 10px;
    position: absolute;
    width: 202px;
    height: 48px;
    right: 0px;
    top: 0px;
    background: #1A64F0;
    border-radius: 8px;
    border: none;
}
.social-main-menu .box-frame {
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 12px;
    width: 698px;
    height: 44px;
    left: 0px;
    top: 180px;
}
.social-main-menu .box-frame .btn-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    width: 225.33px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 12px rgba(89, 144, 255, 0.3);
    border-radius: 10px;   
}
.social-main-menu .box-frame .btn-groups {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 225.33px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 12px rgba(89, 144, 255, 0.3);
    border-radius: 10px;  
}
.social-main-menu .box-frame .btn-likes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 225.33px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 12px rgba(89, 144, 255, 0.3);
    border-radius: 10px;   
}
.social-main-menu .box-post {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: absolute;
    width: 700px;
    height: 636px;
    left: 0px;
    top: 248px;
    border: 1px solid #E7E7E7;
    border-radius: 12px;
}
.social-main-menu .box-post .box-user-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 25px 10px;
    width: 300px;
    height: 56px;
    border: none;
}
.social-main-menu .box-post .box-user-name .user-name {
    position: absolute;
    width: 400px;
    padding: 0px 50px 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    
    color: #111111;
}
.social-main-menu .box-post .box-user-name .time-post {
    position: absolute;
    width: 400px;
    height: 20px;
    padding: 12px 52px 10px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #7D7D7D;
}

.social-main-menu .box-post .btn-dropdown {
    position: absolute;
    float:left ;
    left: 16px;
    height: 56px;
    top: 0px;
    left: 658px;
    background: white;
    border: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#FFFFFF;
    width: 198px;
    height: 168px;
    align-items: left;
    align-content: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
  }


.btn-dropdown:hover .dropdown-content {
    display:inline-block;
  }
.dropdown-content a {
    color: #333333;
    padding: 8px 8px;
    display:inline-block;
  }
.dropdown-content a:hover {
    background-color: #F0F7FF;
    width: 198px;
    height: 36px;
    border-radius: 4px;
}
.content-posted-box {
    position: absolute;
    width: 638px;
    height: 50px;
    left: 34px;
    top: 58px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
.images-video-post-box {
    position: absolute;
    width: 656px;
    height: 320px;
    left: 28px;
    top: 100px;
}

  
.center-alignment {
    position: absolute;
    width: 644px;
    height: 0px;
    left: 28px;
    top: 436px;
    border: 1px solid #E7E7E7;
}
.users-actions-frame  {
    position:absolute;
    display:flex;
    width: 644px;
    height: 48px;
    border-radius: 8px;
    top: 452px;
    left: 28px;
    gap: 20px;
    }
.users-actions-frame .btn-like-comm-share {
    display:flex;
    gap: 12px;
    width: 198.67px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 60px;
 }
.comment-action-box {
    position: absolute;
    display:flex;
    height: 50px;
    left: 24px;
    right: 24px;
    top: 500px;
}
.comment-action-box .comment-box {
    position: absolute;
    width: 580px;
    line-height: 30px;
    top: 8px;
    left: calc(50% - 600px/2 + 32px);
    background: #F6F6F6;
    border-radius: 8px;
    color: #D0D0D2; 
    border: none;
}

.form-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    padding-left: 12px;
    width: 296px;
    height: 48px;
    border: 1px solid #1A64F0;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    background: #F6F6F6
    }
.search-text {
    display: flex;
    padding-left: 2px;
    gap: 8px;
    width: 57px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #111111;
}
.icon-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 70px;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 296px;
    height: 48px;
}
.btn-icon-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    width: 48px;
    height: 48px;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    background: none;

}
.btn-icon-social:hover {
    border: 2px solid #1A64F0;
    background: #F0F7FF;
}
.top-traders-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    position: absolute;
    width: 296px;
    height: 352px;
    left: 0px;
    top: 140px;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
}
.right-line {
    width: 268px;
    height: 0px;
    border: 1px solid #E7E7E7;
}
.top-traders-box .user-performent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 268px;
    height: 56px;
    border: 2px solid black;
}
.top-traders-box .user-performent .name-box {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    left: 0px;
    width: 152px;
    height: 56px;
    border: 2px solid black;
}