.banner-top-home {
	width:100%;
	display:inline-block;
	height:590px;
	background:url(../images/banner-top-home.jpg) no-repeat center top;
	padding-top:113px;
	}
.banner-top-home  .box-head {
	width:634px;
	float:left;
	margin-left:50px;
	}
.banner-top-home .title {
	margin:0;
	font-weight: 700;
	font-size: 48px;
	line-height: 72px;
	letter-spacing: -0.5px;
	color: #111111;
	margin-bottom:16px;
	}
.banner-top-home .title span {
	background: linear-gradient(267.23deg, #246CF9 59.2%, #5690FF 59.2%, #16449E 96.51%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	}
.banner-top-home .des {
	margin:0;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: -0.5px;
	color: #111111;
	opacity: 0.5;
	margin-bottom:80px;
	}
.banner-top-home .btn-get {
	width:auto;
	height:60px;
	display:inline-block;
	border:0;
	cursor:pointer;
	background: #1A64F0;
	box-shadow: 0px 20px 60px rgba(26, 101, 239, 0.15);
	border-radius: 100px;
	padding: 15px 30px;
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: -0.5px;
	color: #FFFFFF;
	text-shadow: 0px 20px 50px #00D085;
	}
.banner-top-home .btn-get:before {
	width: 30px;
	height: 30px;
	display:inline-block;
	float:left;
	content:"";
	background:url(../images/icon-get.svg) no-repeat center center #FFFFFF;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin-right:10px;
	}
.box-head-list-coin {
	width:100%;
	display:inline-block;
	margin-top:45px;
	overflow:hidden;
	}
	
.box-head-list-coin .item {
	float:left;
	margin-left:59px;
	width:132px;
	}
.box-head-list-coin .item:first-child{
	margin-left:0;
		
		}	
.box-head-list-coin .text {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color:rgba(17,17,17,0.5);
}
.box-head-list-coin .text .green {color: #00D085; margin-left:4px;}	
.box-head-list-coin .text .red {color: #F30A34 !important;margin-left:4px;}
.box-head-list-coin .money {
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: -0.5px;
	color: #111111;
	}
.box-head-list-coin .icon {
	width:50px;
	height:50px;
	float:left;
	margin-right:10px;
	}
.box-head-list-coin .uni {
	background:url(../images/icon-coin/icon-uni.svg) no-repeat 0 0;
	}
.box-head-list-coin .bnb {
	background:url(../images/icon-coin/icon-bnb.svg) no-repeat 0 0;
	}
.box-head-list-coin .usdt {
	background:url(../images/icon-coin/icon-usdt.svg) no-repeat 0 0;
	}
.box-head-list-coin .bft {
	background:url(../images/icon-coin/icon-bft.svg) no-repeat 0 0;
	}
.box-head-list-coin .luna {
	background:url(../images/icon-coin/icon-luna.svg) no-repeat 0 0;
	}
.box-head-list-coin .busd {
	background:url(../images/icon-coin/icon-busd.svg) no-repeat 0 0;
	}
.box-head-list-coin .link {
	background:url(../images/icon-coin/icon-link.svg) no-repeat 0 0;
	}								

.box-explore {
	width:100%;
	display:inline-block;
	margin-top:80px;
	text-align:center;
	padding-bottom:120px;
	}
.box-explore .icon-logo { margin-bottom:30px;}
.box-explore .des {
	margin:0;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	letter-spacing: -0.5px;
	color: #7D7D7D;
	margin-top:16px;
	margin-bottom:48px;
	}
.box-explore .list {
	display: flex;
	align-items: center;
	width:100%;
	
	}
.box-explore .list .item {
	width: 411px;
	height: 392px;
	margin-right:24px;
	text-align:center;
	padding:14px 0;
	border-radius: 15px;
	 -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
	}
.box-explore .list .item:hover {
	padding:0;
	
	}	
.box-explore .list .item .info {
	width:100%;
	display:inline-block;
	background: #F4F9FF;
	border-radius: 15px;
	height: 364px;
	padding:0 24px;
	}
.box-explore .list .item:hover .info {
	background: linear-gradient(40.34deg, #000D88 -24.29%, #000E8E 18.78%, #000960 59.93%, #000000 104.82%);
	height: 392px;
	box-shadow: 0px 4px 56px rgba(6, 92, 254, 0.47);
	}		
.box-explore .list .icon {
	width:88px;
	height:88px;
	margin-top:40px;
	display:inline-block;
	}
.box-explore .list .chart {
	background:url(../images/icon-chart.svg) no-repeat center center;
	}
.box-explore .list .magnifying-glass {
	background:url(../images/icon-magnifying-glass.svg) no-repeat center center;
	}
.box-explore .list .file {
	background:url(../images/icon-file.svg) no-repeat center center;
	}				
.box-explore .list .title {
	margin:0;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	letter-spacing: -0.5px;
	color: #1A64F0;
	margin-top:40px;
	height:72px;
	}
.box-explore .list .title a {color: #1A64F0;}	
.box-explore .list .item:hover .title, .box-explore .list .item:hover .title a { color:#fff;}
.box-explore .list .des {
	margin:0;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: -0.5px;
	color: #7D7D7D;
	margin-top:16px;
	}
.box-explore .list .item:hover .des { color:#fff;opacity: 0.8;}			
.box-explore .list .item:last-child{ margin-right:0;}
.box-explore .list .item:hover .icon {
	width:160px;
	height:160px;
	margin-top:-38px;
	}	
.box-explore .list .item:hover .chart {
	background:url(../images/icon-chart-hover.svg) no-repeat center center;
	}
.box-explore .list .item:hover .magnifying-glass {
	background:url(../images/icon-magnifying-glass-hover.svg) no-repeat center center;
	}
.box-explore .list .item:hover .file {
	background:url(../images/icon-file-hover.svg) no-repeat center center;
	}
/*Alchemist Trade*/
.box-alchemist-trade {
	width:100%;
	display:inline-block;
	background: linear-gradient(40.34deg, #000D88 -24.29%, #000E8E 18.78%, #000960 59.93%, #000000 104.82%);
	padding:56px 0;
	}
.box-alchemist-trade .box {
	width:100%;
	display:inline-block;
	min-height:931px;
	background:url(../images/img-phone.png) no-repeat 0 0;
	padding-top:193px;
	}
.box-alchemist-trade .box-right {
	width: 471px;
	float:right;
	}
.box-alchemist-trade .heading { color:#fff; margin-bottom:8px; text-align:left;}
.box-alchemist-trade .heading span {color: #FFB258;}
.box-alchemist-trade .subtext {
	margin:0;
	font-weight: 500;
	font-size: 18px;
	line-height: 35px;
	letter-spacing: -0.5px;
	color: #D0D0D2;
	margin-bottom:16px;
	}
.box-alchemist-trade .list {
	margin:0;
	padding:0;
	display:inline-block;
	width:100%;
	}
.box-alchemist-trade .list li {
	width:100%;
	float:left;
	list-style:none;
	margin:32px 0;
	position:relative;
	padding-left:80px;
	}
.box-alchemist-trade .chart {
	background:url(../images/icon-chart-1.svg) no-repeat 0 center;
	}
.box-alchemist-trade .noti {
	background:url(../images/icon-noti.svg) no-repeat 0 center;
	}
.box-alchemist-trade .pen {
	background:url(../images/icon-pen-2.svg) no-repeat 0 center;
	}			
.box-alchemist-trade .title {
	margin:0;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -0.5px;
	color: #FFFFFF;
	margin-bottom:4px;
	}
.box-alchemist-trade .des {
	margin:0;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #D0D0D2;
	}		
.box-alchemist-trade .list li:after {
	display:inline-block;
	content:"";
	width: 348px;
	height: 1px;
	background: #E6E8EC;
	border-radius: 1px;
	position:absolute;
	left:0;
	bottom:-32px;
	}
.box-alchemist-trade .list li:last-child:after{ display:none;}	
/*Create your crypto portfolio*/
.box-create-crypto-portfolio{
	width:100%;
	display:inline-block;
	margin-top:120px;
	background:url(../images/bg-create-crypto.jpg) no-repeat center bottom;
	min-height:1150px;
	}	
.box-create-crypto-portfolio .subtext{
	margin:0;
	margin-top:16px;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	letter-spacing: -0.5px;
	color: #7D7D7D;
	}
.box-create-crypto-portfolio .list {
	width: 945px;
	display:inline-block;
	margin-top:48px;
	}
.box-create-crypto-portfolio .list .item {
	float:left;
	padding-right:80px;
	position:relative;
	height:60px;
	background:url(../images/icon-row-next2.png) no-repeat right center;
	}
.box-create-crypto-portfolio .list .item:last-child {
	padding-right:0;
	background:none;
	}
.box-create-crypto-portfolio .list .btn-blue {
	height:60px;
	border:0;
	display:inline-block;
	background: #1A64F0;
	box-shadow: 0px 20px 60px rgba(26, 100, 240, 0.15);
	border-radius: 100px;
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: -0.5px;
	color: #FFFFFF;
	text-shadow: 0px 20px 50px #1A64F0;
	padding: 15px 30px;
	}
.box-create-crypto-portfolio .list .btn-blue:before {
	width:30px;
	height:30px;
	float:left;
	content:"";
	background:url(../images/icon-spaceship.svg) no-repeat 0 0;
	margin-right:10px;
	}
.box-create-crypto-portfolio .box-item {
	width:100%;
	display:inline-block;
	margin-top:256px;
	position:relative;
	}
.box-create-crypto-portfolio .box-item 	.item-cryptocurrencies, .box-create-crypto-portfolio .box-item 	.item-total, .box-create-crypto-portfolio .box-item 	.item-average {
	height: 96px;
	background-color:  #FFFFFF;
	box-shadow: 0px 34px 104px rgba(26, 101, 240, 0.2);
	border-radius: 12px;
	position: absolute;
	padding-top:12px;
	padding-left:20px;
	} 	
.box-create-crypto-portfolio .box-item 	.item-total {
	width: 267px;
	top:0;
	right:58px;
	
	}
.box-create-crypto-portfolio .box-item 	.item-total:before, .box-create-crypto-portfolio .box-item 	.item-cryptocurrencies:before, .box-create-crypto-portfolio .box-item 	.item-average:before {
	width:36px;
	height:72px;
	content:"";
	float:left;
	margin-right:16px;
	}
.box-create-crypto-portfolio .box-item 	.item-total:before{ background:url(../images/icon-chart-total.svg) no-repeat center center;}
.box-create-crypto-portfolio .box-item 	.item-average:before{background:url(../images/icon-average.svg) no-repeat center center}
.box-create-crypto-portfolio .box-item 	.item-cryptocurrencies:before{background:url(../images/icon-cryptocurrencies.svg) no-repeat center center}		
.box-create-crypto-portfolio .box-item 	.item-total .number{color: #11CABE;}	
.box-create-crypto-portfolio .box-item 	.item-average {
	width: 303px;
	left:0;
	top:92px;
	}
.box-create-crypto-portfolio .box-item 	.item-average .number{color: #BD47FB;}	
.box-create-crypto-portfolio .box-item 	.item-cryptocurrencies  {	
	width: 288px;
	top:303px;
	right:0;
	
	}
.box-create-crypto-portfolio .box-item 	.item-cryptocurrencies .number{color: #1A64F0;}	
.box-create-crypto-portfolio .box-item .number {
	margin:0;
	font-weight: 600;
	font-size: 25px;
	line-height: 40px;
	margin-bottom:4px;
	}
.box-create-crypto-portfolio .box-item .des {
	margin:0;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #A5ADCF;
	}
/*trade-anywhere*/
.box-trade-anywhere{
	width:100%;
	display:inline-block;
	background: linear-gradient(40.34deg, #000D88 -24.29%, #000E8E 18.78%, #000960 59.93%, #000000 104.82%);
	min-height:695px;
	padding-top:60px;
	padding-bottom:72px;
	}
.box-trade-anywhere .box-list {
	height:563px;
	width:100%;
	display:inline-block;
	background:url(../images/img-trade-anywhere.png) no-repeat right 0;
	}
.box-trade-anywhere .box-left {
	float:left;
	width:578px;
	padding-top:114px;
	}
.box-trade-anywhere .heading { color:#fff; text-align:left;}	
.box-trade-anywhere .heading  span {color: #FFB258;}
.box-trade-anywhere .subtext {
	margin:0;
	font-weight: 400;
	font-size: 18px;
	line-height: 35px;
	letter-spacing: -0.5px;
	color: #D0D0D2;
	margin-bottom:64px;
	}	
.box-trade-anywhere .box-btn {
	width:100%;
	display:inline-block;
	}
.box-trade-anywhere .box-btn .google-play, .box-trade-anywhere .box-btn .app-store {
	width:100%;
	display:inline-block;
	width: 241px;
	height: 72px;
	cursor:pointer;
	border:0;
	padding:0;
	text-indent:-99999px;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
	border-radius: 12px;
	}
.box-trade-anywhere .box-btn .google-play {
	margin-right:16px;
	background:url(../images/btn-google-play.svg) no-repeat center center #FFFFFF;
	}	
.box-trade-anywhere .box-btn .app-store {
	background:url(../images/App-Store.svg) no-repeat center center #FFFFFF;
	}
																							
/*help*/
.box-help {
	width:100%;
	display:inline-block;
	text-align:center;
	padding:120px 0;
	}
.box-help .des {
	margin:0;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	letter-spacing: -0.5px;
	color: #7D7D7D;
	margin-top:16px;
	margin-bottom:48px;
	}
.box-help .list {
	display: flex;
	align-items: center;
	width:100%;
	
	}
.box-help .list .item {
	width: 411px;
	height: 390px;
	margin-right:24px;
	text-align:center;
	padding:32px 0;
	border-radius: 15px;
	 -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
	}
.box-help .list .item:hover {
	padding:0;
	
	}	
.box-help .list .item .info {
	width:100%;
	display:inline-block;
	background: #F4F9FF;
	border-radius: 15px;
	height: 326px;
	padding:0 35px;
	}
.box-help .list .item:hover .info {
	background: linear-gradient(40.34deg, #000D88 -24.29%, #000E8E 18.78%, #000960 59.93%, #000000 104.82%);
	height: 392px;
	box-shadow: 0px 4px 56px rgba(6, 92, 254, 0.47);
	}		
.box-help .list .icon {
	width:64px;
	height:64px;
	margin-top:32px;
	display:inline-block;
	}
.box-help .list .faq {
	background:url(../images/icon-faq.svg) no-repeat center center;
	}
.box-help .list .academy {
	background:url(../images/icon-academy.svg) no-repeat center center;
	}
.box-help .list .call {
	background:url(../images/icon-call.svg) no-repeat center center;
	}				
.box-help .list .title {
	margin:0;
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	letter-spacing: -0.5px;
	color: #111;
	margin-top:16px;
	}
.box-help .list .title  a {color: #111;}	
.box-help .list .item:hover .title, .box-help .list .item:hover .title a { color:#fff;}
.box-help .list .des {
	margin:0;
	font-weight: 400;
	font-size: 18px;
	line-height: 35px;
	text-align: center;
	letter-spacing: -0.5px;
	color: #111111;
	margin-top:8px;
	
	}
.box-help .list .alink {
	display:inline-block;
	width:100%;
	margin-top:16px;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: -0.5px;
	color: #1A64F0;
	text-align:center;
	}
.box-help .list .alink:after {
	width:16px;
	display:inline-block;
	height:28px;
	content:"";
	margin-left:8px;
	background:url(../images/icon-row-next.svg) no-repeat  center center;
	vertical-align: middle;
	}		
.box-help .list .item:hover .des { color:#fff;opacity: 0.8;}			
.box-help .list .item:last-child{ margin-right:0;}
.box-help .list .item:hover .icon {
	width:160px;
	height:160px;
	margin-top:-38px;
	}	

.box-help .list .item:hover  .faq {
	background:url(../images/icon-faq-hover.svg) no-repeat center center;
	}
.box-help .list .item:hover .academy {
	background:url(../images/icon-academy-hover.svg) no-repeat center center;
	}
.box-help .list .item:hover  .call {
	background:url(../images/icon-call-hover.svg) no-repeat center center;
	}
/*Our Team*/
.box-our-team {
	width:100%;
	display:inline-block;
	background: linear-gradient(40.34deg, #000D88 -24.29%, #000E8E 18.78%, #000960 59.93%, #000000 104.82%);
	padding:120px 0;
	}
.box-our-team .heading { color:#fff; }	
.box-our-team .heading  span {color: #FFB258;}
.box-our-team .subtext {
	margin:0;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.5px;
	color: #D0D0D2;
	margin-bottom:48px;
	text-align:center;
	}
.box-our-team .list-team {
	width:100%;
	display:inline-block;
	text-align:center;
	}
.box-our-team .list-team .photo {
	border-radius: 15px 15px 0px 0px;
	width:100%;
	overflow:hidden;
	display:inline-block;
	margin-bottom:20px;
	}
.box-our-team .list-team .photo img { width:100%;object-fit: cover;}
.box-our-team .list-team .name {
	margin:0;
	margin-bottom:12px;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	letter-spacing: -0.5px;
	color: #FFFFFF;
	text-overflow:ellipsis;
white-space: nowrap;
 overflow: hidden;
	}
.box-our-team .list-team .name a {color: #FFFFFF; display:block;}	
.box-our-team .list-team  .position {
	margin:0;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: -0.5px;
	color: #D0D0D2;
	margin-bottom:28px;
	text-overflow:ellipsis;
white-space: nowrap;
 overflow: hidden;
	}
.box-our-team .network {
	width:170px;
	display:inline-block;
	}
.box-our-team .network .icon {
	width:32px;
	height:32px;
	display:inline-block;
	padding:0;
	cursor:pointer;
	border:0;
	text-indent:-9999px;
	}		
.box-our-team .network .linkedin {
	background:url(../images/icon-linkedin.svg) no-repeat center center;
	margin-right:32px;
	}
.box-our-team .network .twitter {
	background:url(../images/icon-wt32.svg) no-repeat center center;
	margin-right:32px;
	}
.box-our-team .network .instagram {
	background:url(../images/instagram.svg) no-repeat center center;
	}
/*Our Advisors*/
.box-our-advisors {
	width:100%;
	display:inline-block;
	padding:120px 0;
	}
.box-our-advisors .subtext {
	margin:0;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #111111;
	opacity: 0.7;
	margin-bottom:48px;
	}
.box-our-advisors .list-advisors{
	width:100%;
	display:inline-block;
	text-align:center;
	}
.box-our-advisors .list-advisors .photo {
	border-radius: 15px 15px 0px 0px;
	width:100%;
	overflow:hidden;
	display:inline-block;
	margin-bottom:20px;
	}
.box-our-advisors .list-advisors .photo img { width:100%;object-fit: cover;}
.box-our-advisors .list-advisors .name {
	margin:0;
	margin-bottom:12px;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	letter-spacing: -0.5px;
	color: #111111;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
	}
.box-our-advisors .list-advisors .name a {color: #FFFFFF; display:block;}	
.box-our-advisors .list-advisors  .position {
	margin:0;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: -0.5px;
	background: linear-gradient(265.56deg, #246CF9 -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
	margin-bottom:28px;
	text-overflow:ellipsis;
white-space: nowrap;
 overflow: hidden;
	}
.box-our-advisors .network {
	width:170px;
	display:inline-block;
	}
.box-our-advisors .network .icon {
	width:32px;
	height:32px;
	display:inline-block;
	padding:0;
	cursor:pointer;
	border:0;
	text-indent:-9999px;
	}		
.box-our-advisors .network .linkedin {
	background:url(../images/icon-linkedin.svg) no-repeat center center;
	margin-right:32px;
	}
.box-our-advisors .network .twitter {
	background:url(../images/icon-wt32.svg) no-repeat center center;
	margin-right:32px;
	}
.box-our-advisors .network .instagram {
	background:url(../images/instagram.svg) no-repeat center center;
	}			
/*Our backers*/
.box-our-backers {
	width:100%;
	display:inline-block;
	background: linear-gradient(40.34deg, #000D88 -24.29%, #000E8E 18.78%, #000960 59.93%, #000000 104.82%);
	padding:120px 0 100px 0;
	}
.box-our-backers .heading { color:#fff; }	
.box-our-backers .heading  span {color: #FFB258;}
.box-our-backers .subtext {
	margin:0;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: -0.5px;
	color: #D0D0D2;
	margin-bottom:28px;
	text-align:center;
	}

.box-logo-list {
	width:100%;
	display:inline-block;
	text-align:center;
	}
.box-logo-list .main {
	max-width:990px;
	margin:auto;
	width:100%;
	text-align:center;
	}
.box-logo-list .logo {
	margin:20px 21px;
	width:140px;
	}
.box-logo-list .logo img {
	max-width:100%;
	max-height:100%;
	}
/* Prediction Logo*/
box-our-backers-pre {
	width:100%;
	display:inline-block;
	background: linear-gradient(40.34deg, #000D88 -24.29%, #000E8E 18.78%, #000960 59.93%, #000000 104.82%);
	padding: 0 0 100px 0;
	}
.box-our-backers-pre .heading { color:#fff; }	
.box-our-backers-pre .heading  span {color: #FFB258;}
.box-our-backers-pre .subtext {
	margin:0;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: -0.5px;
	color: #D0D0D2;
	margin-bottom:28px;
	text-align:center;
	}
.box-logo-list-pre{
	left: 0 px;
	width:100%;
	display:inline-block;
	text-align:center;
	}
.box-logo-list-pre .main {
	max-width:990px;
	margin:auto;
	width:100%;
	text-align:center;
	}
.box-logo-list-pre .logo {
	margin:20px 21px;
	width:140px;
	}
.box-logo-list-pre .logo img {
	max-width:100%;
	max-height:100%;
	}
/*Start earning today*/		
.start-earning-today {
	width:100%;
	display:inline-block;
	background:url(../images/bg_start-earningtoday.png) no-repeat center 0;
	margin-top:56px;
	height:325px;
	padding-top:64px;
	margin-bottom:20px;
	}
.start-earning-today .main {
	max-width:475px;
	margin:auto;
	width:100%;
	text-align:center;
	}
.start-earning-today .subtext {
	margin:0;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	letter-spacing: -0.5px;
	color: #7D7D7D;
	margin-top:16px;
	}
.start-earning-today .form {
	width:100%;
	display:inline-block;
	margin-top:40px;
	background: #FFFFFF;
	border: 2px solid #1A64F0;
	border-radius: 12px;
	padding: 8px 8px 8px 32px;
	max-width:462px;
	}
.start-earning-today .btn-button {
	float:right;
	padding: 16px;
	width: 157px;
	height: 51px;
	background: linear-gradient(265.56deg, #246CF9 -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
	border-radius: 12px;
	border:0;
	cursor:pointer;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	text-align:center;
	}
.start-earning-today .input {
	width: calc(100% - 157px);
	float:left;
	height:51px;
	padding:  16px 16px 16px 0;
	border:0;
	text-align:left;
	background-color:transparent;
	font-weight: 400;
	font-size: 16px;
	color: #111111;
	line-height: 19px;
	}																
@media only screen and  (max-width: 1280px){
	.box-head-list-coin .item {
	margin-left:38px;
	}
.box-explore .list .title {
	font-size: 18px;
    line-height: 28px;
    height: 55px;
	}
.box-explore .list .des {
	font-size: 14px;
	line-height: 22px;
	}		
	}
@media only screen and  (max-width: 1100px){
	.box-head-list-coin .item {
	margin-left:12px;
	}
	}									